<label for="search">Search</label>
<input type="search" name="search" id="search" [(ngModel)]="searchString"
(ngModelChange)="searchByString()"/>

<table *ngIf="sortedBooks.length">
  <tr>
    <th>Picture</th>
    <th (click)="setSearchParams('byName')" class="sorting-header">Title 
      <span *ngIf="sortBy?.byName === 'asc'">🔼</span>
      <span *ngIf="sortBy?.byName === 'desc'">🔽</span>
    </th>
    <th>Description</th>
    <th (click)="setSearchParams('byPrice')" class="sorting-header">Price
      <span *ngIf="sortBy?.byPrice === 'asc'">🔼</span>
      <span *ngIf="sortBy?.byPrice === 'desc'">🔽</span>
    </th>
    <th>Buy</th>
  </tr>
  <tr *ngFor="let book of sortedBooks">
    <td>
      <img [src]="book.image" [alt]="book.title" />
    </td>
    <td>{{ book.title }}</td>
    <td>{{ book.subtitle }}</td>
    <td>{{ book.price }}</td>
    <td>
      <button
        type="button"
        *ngIf="!cart[book.isbn13]?.amount; else: amountButtons"
        (click)="addToCart(book.isbn13)"
      >
        Add to cart
      </button>
      <ng-template #amountButtons>
        <button type="button" (click)="removeFromCart(book.isbn13)">-</button>
        {{ cart[book.isbn13].amount }}
        <button type="button" (click)="addToCart(book.isbn13)">+</button>
      </ng-template>
    </td>
  </tr>
</table>
